:root {
  --font-main: system-ui, sans-serif;
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Lato', sans-serif;
  --color-bg-dark: #0D0D0D;
  --color-text-red: #993333;
  --color-text-white: #ced9df;
  --color-text-white-50: #ced9df80;
  --nav-pill-w: clamp(110px, 12rem, 380px);
}

body {
  margin: 0;
  font-family: var(--font-secondary);
  font-weight: 300;
  background-color: var(--color-bg-dark);
  color: var(--color-text-white);
  line-height: 1.5;
  padding: 0rem;
}

img { max-width: 100%; height: auto; display: block; }

header {
    position: sticky;
    top: 0;
    background: var(--color-bg-dark);
}

.nav-button a{
    text-decoration: none;
    color: inherit;
    font-family: var(--font-primary);  
}

.nav-button a:hover { 
    color: var(--color-text-red);
    font-weight: 600;
}

.nav-button a.nav-current{
    color: var(--color-text-red);
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem 0rem 5rem;
}

.page-display {
    display: flex;
    flex-direction: column;
    position: relative;
}

.nav-dropdown {
    display: none;
}

.nav-display {
    all: unset;
    display: grid;
    grid-template-columns: 1fr auto;
    inline-size: var(--nav-pill-w);
    justify-content: center;
    align-items: center;
    padding: 25px;    
    border:1px solid var(--color-text-white);
    border-radius: 40px;
    gap: 1rem;
    block-size: 60px;
    padding-block: 0;
    cursor: pointer;
    padding-left: 45px;
    white-space: nowrap;
    background: var(--color-bg-dark);
    z-index: 1001;
    font-family: var(--font-primary);
}
.nav-display[aria-expanded="true"] + .nav-dropdown {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr auto;
    inline-size: var(--nav-pill-w);
    padding: 25px;    
    border:1px solid var(--color-text-white);
    border-top: 0px;
    border-radius: 0 0 40px 40px;
    gap: 1rem;
    padding-left: 45px;
    background: var(--color-bg-dark);
    z-index: 1000;
    top: calc(100% - 1px);
    left: 0;
}

.nav-display[aria-expanded="true"]{
    border-bottom: 0;
    border-radius: 40px 40px 0 0;
    border-bottom: 0.5px solid var(--color-text-white-50);
}

.nav-display:hover[aria-expanded="false"], .nav-display:focus-visible[aria-expanded="false"] {
    border-color: var(--color-text-red);
}

.nav-display:hover[aria-expanded="true"], .nav-display:focus-visible[aria-expanded="true"] {
    color: var(--color-text-red);
}

.page-links{
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 20px;
    font-weight: 500;
    text-align: right;
}

.menu-burger {
    display: flex;
    justify-content: end;
    width: 24px;
    height: 24px;
    padding-left: 23px;
    padding-right: 10px;
}

.menu-burger-border{
    border-left: 1px solid var(--color-text-white-50);
}

.nav-links{
    display: flex;
    padding: 0 3rem 3rem 3rem;
    gap: 30px;
    font-weight: 400;
    margin-left: auto;
    font-size: 24px;
}

.name{
    color: var(--color-text-red);
    font-weight: 00;
}
section {
    display: grid;
    align-items: center;
    justify-items: flex-start;
    padding: 3rem;
    padding-left: 8rem;
    padding-right: 0rem;
    border-bottom: 2px dotted #7272722a;
}

section h2{
    font-family: var(--font-primary);
    font-weight: 500;
    color: var(--color-text-red);
    font-size: 20px;
    margin: 0;
}
section h3{
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 36px;
    color: inherit;
    margin: 0;
}

section p{
    font-size: 18px;
    align-items: center;
}

#about {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(4, 1fr);
    height: 600px;
    padding-top: 200px;
}
#about h2 {
    grid-column: 1/-1;
}

#about h4:first-of-type{
    grid-column: 2;
    grid-row: 2;
}

#about h4:last-of-type{
    grid-column: 2;
    grid-row: 4;
}

#experience {
    height: 240px;
}

#flagship {
    height: 240px;

}

#labs {
    height: 240px;
}

